$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "./../../node_modules/accessible-autocomplete/src/autocomplete";
@import "./../../node_modules/govuk-frontend/dist/govuk/index";
@import "./../../node_modules/@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './overrides/local';
