{% extends "../../partials/layout.njk" %}

{% block navigation %}{% endblock %}

{% set title = "My courts" %}

{% block content %}

<h1 class="govuk-heading-l">{{ courtCode }}</h1>
<p>TODO: implement the court case list</p>

{% endblock %}
